{% extends 'base.html' %}
{% load static %} 

{% block breadcrumb %}
  <nav aria-label="breadcrumb" role="navigation">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="{% url 'home' %}">Home</a></li>   
    <li class="breadcrumb-item active">Leagues</li>
  </ol>
</nav>
{% endblock %}

{% block league %}
<div>
 <h2> Most leagues </h2>
<small> Check out the most popular league tables below from around the world. Click any league table to view the full table, home games league table, or away games league table.</small>
</div> <br/>
{% endblock %}

{% block content %}
<div class="row">     
 <div class="col-md-5 col-sm-5 col-lg-5">
  <h3><small>England:</small> </h3>
            
  <div class="table-responsive-lg table-responsive-md table-responsive-sm">
   <table class="table table-lg table-md table-sm table-striped table-bordered table-hover">
    <thead class="thead-dark">
     <tr> 
      <th width="18%">#</th>
      <th>Name</th>
     </tr>
    </thead>
   <tbody>
    {% for eng in england.all %}
     <tr>
      <td class="align-middle">{{ eng.country_name }}</td>
      <td class="align-middle">{{ eng.league_name }}</td>
     </tr>
     {% endfor %}
   </tbody>
  </table> 
  </div>
 </div>
 <div class="col-md-6 col-sm-6 col-lg-2"> </div> 
 <div class="col-md-5 col-sm-5 col-lg-5">
  <h3><small>Spain:</small> </h3>
            
  <div class="table-responsive-lg table-responsive-md table-responsive-sm">
   <table class="table table-lg table-md table-sm table-striped table-bordered table-hover">
    <thead class="thead-dark">
     <tr> 
      <th width="18%">#</th>
      <th>Name</th>
     </tr>
    </thead>
   <tbody>
    {% for eng in spain.all %}
     <tr>
      <td class="align-middle">{{ eng.country_name }}</td>
      <td class="align-middle">{{ eng.league_name }}</td>
     </tr>
     {% endfor %}
   </tbody>
  </table> 
  </div>
 </div>   
</div>
<div class="row">     
 <div class="col-md-12 col-xs-6 col-sm-6 col-lg-12"><h3><small>Advertisement</small> </h3></div>
</div>

<div class="row">     
  <div class="col-md-5 col-sm-5 col-lg-5">
   <h3><small>Italy:</small> </h3>
            
  <div class="table-responsive-lg table-responsive-md table-responsive-sm">
   <table class="table table-lg table-md table-sm table-striped table-bordered table-hover">
    <thead class="thead-dark">
     <tr> 
      <th width="40%">#</th>
      <th>Name</th>
     </tr>
    </thead>
   <tbody>
    {% for ita in italy.all %}
     <tr>
      <td class="align-middle">{{ ita.country_name }}</td>
      <td class="align-middle">{{ ita.league_name }}</td>
     </tr>
     {% endfor %}
   </tbody>
  </table> 
  </div>
 </div>
 <div class="col-md-6 col-sm-6 col-lg-2"> </div>
 
 <div class="col-md-5 col-sm-5 col-lg-5">
  <h3><small>South Africa:</small> </h3>
            
  <div class="table-responsive-lg table-responsive-md table-responsive-sm">
   <table class="table table-lg table-md table-sm table-striped table-bordered table-hover">
    <thead class="thead-dark">
     <tr> 
      <th width="30%">#</th>
      <th>Name</th>
     </tr>
    </thead>
   <tbody>
    {% for sa in rsa.all %}
     <tr>
      <td class="align-middle">South Africa</td>
      <td class="align-middle">Primier Soccer League </td>
     </tr>
     {% endfor %}
   </tbody>
  </table> 
  </div>
 </div>    
</div>
<div class="row">     
  <div class="col-md-5 col-sm-5 col-lg-5">
   <h3><small>Other Leagues:</small> </h3>
   <div class="table-responsive-lg table-responsive-md table-responsive-sm">
   <table class="table table-lg table-md table-sm table-striped table-bordered table-hover">
    <thead class="thead-dark">
     <tr> 
      <th width="30%">#</th>
      <th>Name</th>
     </tr>
    </thead>
   <tbody>
    {% for leag in leagues.all %}
     <tr>
      <td class="align-middle">{{ leag.country_name }}</td>
      <td class="align-middle">{{leag.league_name }} </td>
     </tr>
     {% endfor %}
   </tbody>
  </table> 
  </div>                
  </div>      
</div>    

{% endblock %}
