{% extends 'base_accounts.html'%}
{% block title %} Change password - {{ block.super }} {% endblock %}

{% block breadcrumb %}
  <li class="breadcrumb-item active">Change password</li>
{% endblock %}

{% block content %}
<h1 class="text-center logo my-4"> <a class="navbar-brand" href="{% url 'home' %}"> Rouge Predictions </a></h1>
 <div class="row justify-content-center">
  <div class="col-lg-4 col-md-6 col-sm-8">
      <form method="post" novalidate>
        {% csrf_token %}
        {% include 'includes/form.html' %}
        <button type="submit" class="btn btn-success">Change password</button>
      </form>
    </div>
</div>
{% endblock %}