{% extends 'base_accounts.html' %}

{% load static %}
{% block title %} Upgrade complete - {{ block.super }} {% endblock %}

{% block stylesheet %}
  <link rel="stylesheet" href="{% static 'css/accounts.css' %}">
{% endblock %}

{% block content %}
<h4>Thank you for upgrading your account !<br/> </h4>
<div class="row">
 <div class="col-lg-8 col-md-8 col-sm-10">
  <p>We have a lots new added features coming your way on your <b>{{ new_plan }} plan </b> account. So be prepared for the winning streaks ahead&#33;</p>        
  <p>Start betting today and start receiving tips staright to your mobile phone.</p> <a href="{% url 'home'  %}">Return home</a>
 </div> 
</div>
{% endblock %}